{% extends "layout/base.html" %}
{% block body %}
<h2>FICHA DE ITENS DE SERVIÇO</h2>
<div class="col mx-auto">
    {% if itens %}
    <form action="/item-servico-update/{{itens.id}}" method="POST">
        <div class="row my-4">
            <div class="col">
                <input type="text" name="codigo" value="{{itens.codigo}}" class="form-control" placeholder="Código" aria-label="Código">
              </div>
            <div class="col">
              <input type="text" name="descricao" value="{{itens.descricao}}" class="form-control" placeholder="Descricao" aria-label="Descricao">
            </div>
            <div class="col">
                <input type="text" name="valor_item" value="{{itens.valor_item}}" class="form-control" placeholder="Custo R$" aria-label="Custo R$">
            </div>
            <div class="col">
                <input type="text" name="codigo_servico" value="{{itens.codigo_servico}}" class="form-control" placeholder="Código Serviço" aria-label="Código Serviço">
            </div>
        </div>
        <div class="row my-4">
            <div class="col d-grid gap-2 col-12">
                <button class="btn btn-success active" type="submit">ATUALIZAR</button>
            </div>
        </div>
    </form>
    {% else %}

    <form action="{{url_for('app_item_servico.item_servico_add')}}" method="POST">
        <div class="row my-4">
            <div class="col">
                <input type="text" name="codigo" class="form-control" placeholder="Código" aria-label="Código">
              </div>
            <div class="col">
              <input type="text" name="descricao" class="form-control" placeholder="Descricao" aria-label="Descricao">
            </div>
            <div class="col">
                <input type="text" name="valor_item" class="form-control" placeholder="Custo R$" aria-label="Custo R$">
            </div>
            <div class="col">
                <input type="text" name="codigo_servico" class="form-control" placeholder="Código Serviço" aria-label="Código Serviço">
            </div>
        </div>
        <div class="row my-4">
            <div class="col d-grid gap-2 col-6">
                <a href="/auto-mecanica" class="btn btn-secondary active">VOLTAR</a>
            </div>
            <div class="col d-grid gap-2 col-6">
                <button class="btn btn-success active" type="submit">SALVAR</button>
            </div>
        </div>
    </form>
    {% endif %}
</div>

<div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

<div class="my-4">
    <table class="table table-striped table-bordered" style="text-align: center">
        <thead class="table-dark text-light">
            <tr>
                <td>CÓDIGO</td>
                <td>DESCRIÇÃO</td>
                <td>CUSTO R$</td>
                <td>CÓDIGO SERVIÇO</td>
                <td>OPÇÃO</td>
            </tr>
        </thead>
        <tbody>
            {% for item_servico in itens_servicos %}
            <tr>
                <td>{{item_servico.codigo}}</td>
                <td>{{item_servico.descricao}}</td>
                <td>{{item_servico.valor_item}}</td>
                <td>{{item_servico.codigo_servico}}</td>
                <td>
                    <a href="/item-servico-edit/{{item_servico.id}}" class="btn text-primary px-3"><i class="far fa-edit fa-lg"></i></a>
                    <a href="/{{item_servico.id}}" class="btn text-danger px-3" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i></a>
                
                    <div class="modal fade my-4" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header bg-danger text-white">
                                    <h5 class="modal-title">Confirmação</h5>
                                </div>
                                <form action="/item-servico-delete/{{item_servico.id}}" method="POST">
                                    <div class="modal-body">
                                        <p>Deseja realmente excluir?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger">Sim</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script>
    var senha = 0;

    if (senha != 1) {
        $('#deleteModal').modal('show');
    }
</script>
{% endblock script %}