{% extends "layout/base.html" %}
{% block style %}
<style>
    .print {
        display: none;
    }

    @media print {
        .print {
            display: block;
        }
        .dados {
            display: none;
        }
    }
</style>
{% endblock style %}

{% block body %}
<center>
    <h2>NOTA FISCAL DE SERVIÇO ELETRÔNICA</h2>
    <h4>Documento de Emissão de Fatura</h4>
    <br/>
</center>
<div class="col mx-auto my-4">
    <div class="dados">
        <h5>Ficha de Cliente</h5>
        <div class="row my-4">
            <div class="col">
                <input type="text" id="nome" class="form-control" placeholder="Nome" aria-label="Nome">
            </div>
            <div class="col">
                <input type="text" id="cpf_cnpj" class="form-control" placeholder="CPF/CNPJ" aria-label="CPF/CNPJ">
            </div>
            <div class="col">
                <input type="text" id="endereco" class="form-control" placeholder="Endereço" aria-label="Endereço">
            </div>
        </div>
        <h5>Ficha da Empresa</h5>
        <div class="row my-4">
            <div class="col">
                <input type="text" id="nomem" class="form-control" placeholder="Razão Social" aria-label="Razão Social">
            </div>
            <div class="col">
                <input type="text" id="cnpj" class="form-control" placeholder="CNPJ" aria-label="CNPJ">
            </div>
            <div class="col">
                <input type="text" id="inscricao_estadual" class="form-control" placeholder="Inscrição Estadual" aria-label="Inscrição Estadual">
            </div>
        </div>
        <h5>Ficha de Serviço</h5>
        <div class="row my-4">
            <div class="col">
                <input type="text" id="descrição" class="form-control" placeholder="Descrição" aria-label="Descrição">
            </div>
            <div class="col">
                <input type="date" id="data" class="form-control" placeholder="Data Adimissão" aria-label="Data Adimissão">
            </div>
        </div>
        <h5>Ficha de Item de Serviço</h5>
        <div class="row my-4">
            <div class="col">
                <input type="text" id="retirar" class="form-control" placeholder="Retirada de Bateria (R$)" aria-label="Retirada de Bateria (R$)">
            </div>
            <div class="col">
                <input type="text" id="colocar" class="form-control" placeholder="Colocação de Bateria (R$)" aria-label="Colocação de Bateria (R$)">
            </div>
            <div class="col">
                <input type="text" id="total" class="form-control" placeholder="TOTAL (R$)" aria-label="TOTAL (R$)">
            </div>
            <div class="col">
                <select class="form-select" id="forma" aria-label="Forma Pagamento">
                    <option selected>Método de Pagamento</option>
                    <option value="Cartão de Crédito">Cartão de Crédito</option>
                    <option value="Cartão de Débito">Cartão de Débito</option>
                </select>
            </div>
        </div>
        <div class="row my-5">
            <div class="col d-grid gap-2 col-6">
                <a href="/auto-mecanica" class="btn btn-secondary active">VOLTAR</a>
            </div>
            <div class="col d-grid gap-2 col-6">
                <button class="btn btn-primary active" onclick="gerarRecebido()">IMPRIMIR</button>
            </div>
        </div>
    </div>
    
    <div class="print">
            <h5>Ficha de Cliente</h5>
            <p>Nome: <span id="recebo-nome"></span></p>
            <p>CPF/CNPJ: <span id="recebo-cpf"></span></p>
            <p>Endereço: <span id="recebo-endereco"></span></p>
            <br/><br/>
    
            <h5>Ficha da Empresa</h5>
            <p>Razão Social: <span id="recebo-nomem"></span></p>
            <p>CNPJ: <span id="recebo-cnpj"></span></p>
            <p>Inscrição Estadual: <span id="recebo-inscricao"></span></p>
            <br/><br/>
    
            <h5>Ficha de Serviço</h5>
            <p>Descrição: <span id="recebo-descricao"></span></p>
            <br/><br/>
    
            <h5>Ficha de Item de Serviço</h5>
            <p>Retirada de Bateria: R$<span id="recebo-bateira"></span></p>
            <p>Colocação de Bateira: R$<span id="recebo-colocar"></span></p>
            <p>Total: R$<span id="recebo-rs"></span></p>
            <p>Forma Pagamento: <span id="recebo-forma"></span></p>
            <br/><br/>

            <p>Data Adimissão: <span id="recebo-admin"></span></p>
            <br/>

    </div>    
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function gerarRecebido() {
        document.getElementById('recebo-nome').innerHTML = document.getElementById('nome').value;
        document.getElementById('recebo-cpf').innerHTML = document.getElementById('cpf_cnpj').value;
        document.getElementById('recebo-endereco').innerHTML = document.getElementById('endereco').value;

        document.getElementById('recebo-nomem').innerHTML = document.getElementById('nomem').value;
        document.getElementById('recebo-cnpj').innerHTML = document.getElementById('cnpj').value;
        document.getElementById('recebo-inscricao').innerHTML = document.getElementById('inscricao_estadual').value;

        document.getElementById('recebo-descricao').innerHTML = document.getElementById('descrição').value;
        
        document.getElementById('recebo-bateira').innerHTML = document.getElementById('retirar').value;
        document.getElementById('recebo-colocar').innerHTML = document.getElementById('colocar').value;
        document.getElementById('recebo-rs').innerHTML = document.getElementById('total').value;
        document.getElementById('recebo-forma').innerHTML = document.getElementById('forma').value;
        document.getElementById('recebo-admin').innerHTML = dataAtual();
        window.print();

    }
    function dataAtual() {
        let data = new Date();
        return data.getDate() + "/" + data.getMonth() + "/" + data.getFullYear();
    }
</script>
{% endblock script %}